<div class="post-show">
  <div class="post-show row">
    <div class="col-md-8">
      <%=image_tag @post.image_url, class: 'image' %>
    </div>
    <div class="col-md-4">
      <div class="user">
	<div class="avatar">
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.image_url %>
          <% end %>
	</div>	   
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
      <div class="delete">

	<%= link_to 'Remove', user_post_path(@post), method: :delete, data:
	    {confirm: 'Are you sure?' } %>

      </div>
      <br />

       
    </div>
  </div>
  <div class="description">
    <%= @post.description %>
  </div>

</div>





